@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

*{
    margin: 0px;
}

.black{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    display: flex;
}

.background{
    background-image: url(/Images/Velvet_Background.png);
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    top: 10vh;
}

.pagetop{
    display: flex;
}

.logo{
    top: 6.5vh;
    left: 1.4vw;
    display: flex;
    position: relative;
}

.logo img{
    width: 10.1vw;
}

.smooth{
    position: relative;
    color: #edc811;
    font-family: 'Bauhaush';
    display: flex;
    font-size: 6.8vw;
    top: 12.9vh;
    left: 11.5vw;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 33vh;
    left: 14.2vw;
    height: 40vh;
    width: 80vw;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.mid{
    font-family: 'Bauhaush';
    color: white;
    font-size: 2vw;
}

.footer{
    position: absolute;
    bottom: 12vh;
    right: 3vw;
}

.tag{
    font-family: 'Bauhausb';
    color: white;
    font-size: 2.5vw;
}