@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

*{
    margin: 0px;
}

.black{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    display: flex;
}

.background{
    background-image: url(/Images/Velvet_Background.png);
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    top: 10vh;
}

.pagetop{
    display: flex;
}

.logo{
    top: 6.5vh;
    left: 1.4vw;
    display: flex;
    position: relative;
}

.logo img{
    width: 10.1vw;
}

.smooth{
    position: relative;
    color: #edc811;
    font-family: 'Bauhaush';
    display: flex;
    font-size: 6.8vw;
    top: 12.9vh;
    left: 11.5vw;
}

.midpage{
    left: 3vw;
    width: 73vw;
    height: 48vh;
    position: relative;
    top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: solid 6px white;
}

.box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    overflow: hidden;
}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Bauhausb';
    font-size: 2.5vw;
    justify-content: space-around;
    align-items: start;
    height: 100%;
    left: 1vw;
}

.request{
    position: relative;
    display: flex;
    left: 80vw;
    bottom: 9vh;
    background-color: #000000;
    border: solid 6px white;
    color: white;
    font-family: 'Bauhausb';
    font-size: 1.7vw;
    width: 17vw;
    height: 8.5vh;
    justify-content: center;
    align-items: center;
}

.footer{
    position: absolute;
    bottom: 12vh;
    right: 3vw;
}

.tag{
    font-family: 'Bauhausb';
    color: white;
    font-size: 2.5vw;
}