@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

*{
    margin: 0px;
}

.black{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    display: flex;
}

.background{
    background-image: url(/Images/Velvet_Background.png);
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    top: 10vh;
}

.pagetop{
    display: flex;
}

.logo{
    top: 6.5vh;
    left: 1.4vw;
    display: flex;
    position: relative;
}

.logo img{
    width: 10.1vw;
}

.smooth{
    position: relative;
    color: #edc811;
    font-family: 'Bauhaush';
    display: flex;
    font-size: 6.8vw;
    top: 12.9vh;
    left: 11.5vw;
}

.midpage{
    position: relative;
    width: 75vw;
    height: 57vh;
    left: 1.4vw;
    top: 1vh;
    display: grid;
    grid-template-columns: 1fr .6fr .55fr;
    grid-template-rows: 1fr .3fr .35fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2.5vw;
    justify-items: center;
    align-items: center;
}

.box{
    background-color: black;
    border: solid 5px lightblue;
    color: white;
    font-family: 'Bauhaush';
}

.imagecollage{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.scenedescription{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.productfeatures{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.productdescription{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.productpic{
    border: 0;
}

.request{
    position: relative;
    display: flex;
    left: 80vw;
    bottom: 13vh;
    background-color: #000000;
    border: solid 6px white;
    color: white;
    font-family: 'Bauhausb';
    font-size: 1.7vw;
    width: 17vw;
    height: 8.5vh;
    justify-content: center;
    align-items: center;
}

.footer{
    position: absolute;
    bottom: 12vh;
    right: 3vw;
}

.tag{
    font-family: 'Bauhausb';
    color: white;
    font-size: 2.5vw;
}