@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

@font-face {
    font-family: 'Bauhausm';
    src: url(Bauhausm.ttf);
}

@font-face {
    font-family: 'Bauhausl';
    src: url(Bauhausl.ttf);
}

@font-face {
    font-family: 'IBMPSL';
    src: url(IBMPlexSans-Light.ttf);
}

*{
    margin: 0px;
}

.background{
    background-image: url(Gradient_Background.png);
    height: 115vh;
    width: 100vw;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    background-size: cover;
}

.pagetop{
    display: flex;
    height: 22vh;
    border-bottom: solid 5px #edc811;
    align-items: end;
    justify-content: space-between;
}

.logo{
    position: relative;
    display: flex;
    height: 19vh;
    left: 3.6vw;
    bottom: 1vh;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.slogan{
    display: inline-flex;
    align-items: end;
    position: relative;
    right: 3.7vw;
}

.smooth{
    color: #edc811;
    font-family: 'Bauhaush';
    font-size: 5.5vw;
    line-height: 1.1;
}

.velv{
    color: white;
    font-family: 'Bauhaush';
    font-size: 8.5vw;
    line-height: 0.9;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.mid{
    font-family: 'IBMPSL';
    color: white;
    font-size: 3vw;
}

.box{
    width: 29vw;
    height: 30vh;
    border: solid 3px #edc811;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

@media(max-width: 900px){
    .mid{
        font-size: 7vw;
    }

    .box{
        width: 70vw;
    }
}