@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

*{
    margin: 0px;
}

.background{
    background-image: url(Gradient_Background.png);
    height: 115vh;
    width: 100vw;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    background-size: cover;
}

.pagetop{
    display: flex;
    height: 22vh;
    border-bottom: solid 5px #edc811;
    align-items: end;
    justify-content: space-between;
}

.logo{
    position: relative;
    display: flex;
    height: 19vh;
    left: 3.6vw;
    bottom: 1vh;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.slogan{
    display: inline-flex;
    align-items: end;
    position: relative;
    right: 3.7vw;
}

.smooth{
    color: #edc811;
    font-family: 'Bauhaush';
    font-size: 5.5vw;
    line-height: 1.1;
}

.velv{
    color: white;
    font-family: 'Bauhaush';
    font-size: 8.5vw;
    line-height: 0.9;
}

.midpage{
    left: 3vw;
    width: 73vw;
    height: 48vh;
    position: relative;
    top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: solid 6px #edc811;
}

.box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    overflow: hidden;
}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Bauhausb';
    font-size: 2.5vw;
    justify-content: space-around;
    align-items: start;
    height: 100%;
    left: 1vw;
}

.request{
    position: relative;
    display: flex;
    left: 80vw;
    bottom: 9vh;
    background-color: #000000;
    border: solid 6px #edc811;
    color: white;
    font-family: 'Bauhausb';
    font-size: 1.7vw;
    width: 17vw;
    height: 8.5vh;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
}

@media(max-width: 900px){
    .midpage{
        display: flex;
        flex-direction: column;
        width: 92vw;
        left: 2vw;
        background-color: black;
        border: solid 2vw #edc811;
        top: 4vh;
    }

    .list{
        font-size: 4vw;
    }

    .request{
        position: relative;
        top: 8vh;
        width: 45vw;
        border: solid 2vw #edc811;
        left: 25.5vw;
        font-size: 4vw;
    }
}