@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

@font-face {
    font-family: 'Bauhausm';
    src: url(Bauhausm.ttf);
}

@font-face {
    font-family: 'Bauhausl';
    src: url(Bauhausl.ttf);
}

*{
    margin: 0px;
}

.background{
    background-image: url(Gradient_Background.png);
    height: 115vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
}

.pagetop{
    display: flex;
    height: 22vh;
    border-bottom: solid 5px #edc811;
    align-items: end;
    justify-content: space-between;
}

.logo{
    position: relative;
    display: flex;
    height: 19vh;
    left: 3.6vw;
    bottom: 1vh;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.slogan{
    display: inline-flex;
    align-items: end;
    position: relative;
    right: 3.7vw;
}

.smooth{
    color: #edc811;
    font-family: 'Bauhaush';
    font-size: 5.5vw;
    line-height: 1.1;
}

.velv{
    color: white;
    font-family: 'Bauhaush';
    font-size: 8.5vw;
    line-height: 0.9;
}

.midpage{
    position: relative;
    top: 14vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 85vw;
    justify-content: space-between;
}

.box{
    width: 38vw;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.lighting{
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.lighting img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.engineering{
    display: flex;
    align-items: center;
}

.engineering img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

.button{
    color: white;
    font-family: 'Bauhausb';
    font-size: 2.5vw;
    background-color: #edc811;
    text-decoration: none;
    width: 34.4vw;
    height: 8vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 900px){

    .midpage{
        height: 70vh;
        top: 3vh;
    }

    .container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .box{
        width: 70vw;
    }

    .button{
        font-size: 4vw;
    }
    
}