@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

@font-face {
    font-family: 'Bauhausm';
    src: url(Bauhausm.ttf);
}

@font-face {
    font-family: 'Bauhausl';
    src: url(Bauhausl.ttf);
}

*{
    margin: 0px;
}

.background{
    background-image: url(Gradient_Background.png);
    height: 115vh;
    width: 100vw;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    background-size: cover;
}

.pagetop{
    display: flex;
    height: 22vh;
    align-items: end;
    justify-content: space-between;
}

.logo{
    position: relative;
    display: flex;
    height: 19vh;
    left: 2vw;
    bottom: 1vh;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.slogan{
    display: inline-flex;
    align-items: end;
    position: relative;
    right: 3.7vw;
}

.smooth{
    color: #edc811;
    font-family: 'Bauhaush';
    font-size: 5.5vw;
    line-height: 1.1;
}

.velv{
    color: white;
    font-family: 'Bauhaush';
    font-size: 8.5vw;
    line-height: 0.9;
}

.midpage{
    position: relative;
    left: 4vw;
    width: 92vw;
    height: 65vh;
    display: grid;
    grid-template-columns: 43% 30.2% 22.8%;
    grid-template-rows: 63% 35%;
    gap: 2em;
    justify-items: center;
    align-items: center;
    color: white;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Bauhausm';
    font-size: 1.2vw;
    justify-content: space-around;
}

.itempic{
    height: 70%;
}

.left img{
    border: solid 8px #edc811;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.features{
    width: 100%;
    height: 100%;
    font-family: 'Bauhausm';
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.pic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pic img{
    width: 100%;
}

.description{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: 'Bauhausm';
    font-size: 1.2vw;
}

.contact{
    position: absolute;
    right: 2vw;
    bottom: 3vh;
    border: solid 3px #edc811;
    color: white;
    font-family: 'Bauhausb';
    font-size: 2.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 12vw;
    border-radius: 15px;
}