@font-face {
    font-family: 'Bauhausb';
    src: url(Bauhausb.ttf);
}

@font-face {
    font-family: 'Bauhaush';
    src: url(Bauhaush.ttf);
}

*{
    margin: 0px;
}

.background{
    background-image: url(Gradient_Background.png);
    height: 115vh;
    width: 100vw;
    background-position: center center;
    position: fixed;
    z-index: -1;
    display: flex;
    background-size: cover;
}

.pagetop{
    display: flex;
    height: 22vh;
    border-bottom: solid 5px #edc811;
    align-items: end;
    justify-content: space-between;
}

.logo{
    position: relative;
    display: flex;
    height: 19vh;
    left: 2vw;
    bottom: 1vh;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.slogan{
    display: inline-flex;
    align-items: end;
    position: relative;
    right: 3.7vw;
}

.smooth{
    color: #edc811;
    font-family: 'Bauhaush';
    font-size: 5.5vw;
    line-height: 1.1;
}

.velv{
    color: white;
    font-family: 'Bauhaush';
    font-size: 8.5vw;
    line-height: 0.9;
}

.midpage{
    height: 72vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vh;
    width: 23vw;
}

.box img{
    width: 20vw;
}

.button{
    text-decoration: none;
    color: white;
    width: 20vw;
    height: 5vh;
    border: solid 5px #edc811;
    font-family: 'Bauhausb';
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}